.my-card{
    border: 1px #ccc solid;
    border-radius: 7%;
    /* box-shadow: 0 0 4px #000000bc; */
}

.my-card-img-top{
    height: 180px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.my-card-img-top > img{
    height: 130%;
    width: 150%;
    object-fit: cover;
    transition: .7s ease-in-out;
}

.my-card-img-top.display-cover > .display-content{
    position: absolute;
    background: rgba(24, 24, 24, 0.753);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
}

.display-content > *{
    margin: 0 10px;
    font-size: 1.5rem;
    color: whitesmoke;
    transition: .5s ease;
    transform: scale(0);
}

.display-content > *:hover{
    color: rgb(189, 47, 47);
}

.my-card-img-top.display-cover:hover > .display-content{
    opacity: 1;
}

.my-card-img-top.display-cover:hover > .display-content > *{
    transform: scale(1);
}

.my-card-img-top:hover > img{
    height: 150%;
    width: 170%;
}

@keyframes scaleUpDown{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}


.display-content > *:focus-within{
    color: rgb(189, 47, 47);
    animation: scaleUpDown .9s linear;
    animation-iteration-count: 1;
}


.my-card-body{
    padding: 12px 20px;
}

.my-card-body > img{
    height: 38px;
    width: 40px;
    border: 1px rgb(202, 202, 202) solid;
    border-radius: 100%;
}

.my-card-body a{
    color: rgb(133, 133, 133);
}

.my-card-body a:hover{
    text-decoration: none;
    color: rgb(122, 122, 122);
}
